$themes: (
  default: ("body-bg": #F5F5F5,
    "primary": #4B0082,
    "secondary": #008080,
    "success": #48D1CC,
    "info": #9370DB,
    "warning": #fbcf33,
    "danger": #ea0606,
    "light": #F5F5F5,
    "dark": #333333,
    "grey": #b0b3b1,
  ),
  dark: ("body-bg": #090f18,
    "primary": #89e5b0,
    "secondary": #fff9a4,
    "success": #00f867,
    "info": #330163,
    "warning": #fbcf33,
    "danger": #eb5757,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));